.Chair {
    &.booking {
        background: red !important;
        color: white;
    }
    &.booked {
        background: gray !important;
        color: white;
        pointer-events: none;
    }
}
.poiter {
    pointer-events: none;
}